Debug/
Release/
调试/
发行/
exe/
debug*/
release*/
Debug3/
*.o
*.d
*.so
*.dll
*.exe
/new_o/demo/z.zs
/new_o/l
/new_o/gtkmmsh
/new_o/webkit*sh
/new_o/cairogsh
/new_o/vtesh
/new_o/lib3/lib*
_util/
_debug.zs
